@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.8rem;
    font-weight: bolder;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

h4 {
    font-size: 1.2rem;
    font-weight: bolder;
}

h5 {
    font-size: 1.1rem;
    font-weight: bolder;
}

h6 {
    font-size: 1.1rem;
    font-weight: bolder;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

small {
    font-size: 0.8rem;
}

/* --------------------- */
.main {
    position: relative;
}

.sidebar {
    width: 300px;
    transition: 0.4s ease;
    z-index: 1;
    overflow: auto;
}

.navbar {
    margin-left: 300px;
    transition: 0.4s ease;
}

.data-content {
    margin-left: 300px;
    transition: 0.4s ease;
}

#notification-content {
    z-index: 2;
}

.drop-down {
    transition: 0.4s ease;
}

button {
    font-size: 1rem;
}

.profile-pic-holder {
    width: 60px;
    height: 60px;
}

.profile-pic-holder-sm {
    width: 50px;
    height: 50px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.background-theme-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/images/hr_login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.background-theme-signup {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/images/hr_signup.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Form Image upload */
.file-upload-holder {
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.file-upload-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    color: black;
    transition: 0.4s ease;
    cursor: pointer;
    border-right: 2px solid var(--border-color);
}

.file-upload-button:hover {
    background-color: rgb(53, 53, 53);
    ;
    color: white;
    border-radius: 5px;
}

/* Form Image upload */

/* SIDEBAR ALIGNMENTS */
@media screen and (max-width: 950px) {
    .sidebar {
        width: 0px;
    }

    .data-content {
        margin-left: 0px;
    }

    .navbar {
        margin-left: 0px;
    }
}

.box-shadow-1 {
    box-shadow: 0 0 7px rgb(151, 151, 151)
}

/* TRANSITIONS */

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.drop-up {
    display: none;
    animation-name: drop-up;
    animation-duration: 0.3s;
}
@keyframes drop-up {
    from {
        display: block;
        height: 100%;
    }

    to {
        display: none;
        height: 0;
    }
}

.drop-down {
    animation-name: drop-down;
    animation-duration: 0.3s;
}
@keyframes drop-down {
    from {
        display: none;
        height: 0;
    }
    to {
        display: block;
        height: 100%;
    }
}

/* SCROLLBAR */
.scrollbar-sm::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}

.scrollbar-md::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    cursor: pointer;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(180, 180, 180);
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #98a7b8;
    cursor: pointer;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7a97b9;
}

/* SCROLLBAR */


/* LOADER */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 7px solid;
    border-color: #a855f7 #0000;
    animation: spinner 1s infinite;
}

@keyframes spinner {
    to {
        transform: rotate(.5turn)
    }
}

/* LOADER */